{% extends 'base.html' %} {%block title%} Login {%endblock%} {%block content%}

<div class="page page--center">
  <h3 class="card-title">CYBER BULLYING DETECTION SYSTEM</h3>
  <br /><br />
  <form action="#" method="post">
    <h1>LOGIN</h1>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hello👋, Welcome Back.</h5>
        <p class="card-text">
          If you feel like laughed at or harassed by others on twitter, use our
          system to detect cyber bullying on textual tweets.
        </p>
      </div>
    </div>
    <br />

    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
        name="email"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        id="exampleFormControlInput1"
        placeholder="password"
      />
    </div>
    {% if ctx.error %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      {{ctx.error}}
    </div>
    {%endif%}
    <button class="btn btn-secondary">LOGIN</button>
    <h3>New to this app? <span></span></h3>
    <a class="btn btn-light" href="/auth/register">REGISTER</a>
  </form>
</div>
{%endblock%}
