{% extends 'base.html' %} {%block title%} Home {%endblock%} {%block content%}

<div class="home">
  <nav>
    <a class="navbar-brand" href="/">
      <h4>SENTIMENT ANALYSIS</h4>
    </a>
    <form
      action="/auth/logout"
      method="post"
      class="d-flex"
      role="search"
      id="logout__form"
    >
      <a href="/about">ABOUT</a>
      <button class="btn btn-sm btn-outline-secondary" type="submit">
        LOGOUT
      </button>
    </form>
  </nav>
  <div class="home__main">
    <form class="home__form" id="form" method="post">
      <textarea name="tweet" id="tweet" placeholder="Enter Tweet"></textarea>
      <button class="btn btn-secondary">CLASSIFY TWEET</button>
    </form>
    <div class="home__results" id="home__results"></div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hello👋</h5>

        <small>You are logged in as {{ctx.me.email}}</small>
        <br />
        <br />
        <form class="d-flex" role="search" action="/auth/logout" method="post">
          <button class="btn btn-sm btn-primary" type="submit">LOGOUT</button>
        </form>
      </div>
    </div>
  </div>
</div>

{%endblock%} {%block scripts%}
<script src="{{url_for('static', filename='js/home.js')}}" defer></script>
{%endblock%}
